name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: rowtype-yoga/purescript-yoga-actions/.github/actions/setup@main
      
      - name: Build all packages
        run: spago build
      
      - name: Test all packages
        run: spago test
